body {
    background-color: #fae4ff; 
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #f3c5ff;     border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 600px;
    height: 560px;
    justify-items: center;
    justify-self: center;
}